.container {
  /* temp for grid */
  outline: 1px solid gold;
}

.main-header {
  /* temp for grid */
  outline: 2px solid limegreen;
  min-height: 320px;
  margin-bottom: 59px;
}

.main-navigation {
  /* temp for grid */
  outline: 2px solid tomato;
  min-height: 60px;
  background-color: transparent;
}

.site-navigation {
  /* temp for grid */
  min-height: 60px;
}

.main-header-panel {
  /* temp for grid */
  min-height: 42px;
}

.main-panel-wrapper {
  /* temp for grid */
  min-height: 42px;
  background-color: transparent;
  outline: 1px solid blue;
}

.main-middle-panel {
  /* temp for grid */
  outline: 1px solid orange;
  min-height: 158px;
}

main {
  /* temp for grid */
  padding-top: 1936px;
  outline: 1px solid brown;
}

main .index-columns {
  /* temp for grid */
  min-height: 536px;
  outline: 2px solid violet;
  box-sizing: border-box;
}

.features {
  /* temp for grid */
  min-height: 368px;
  outline: 1px solid red;
}

.contact-info {
  /* temp for grid */
  min-height: 368px;
  outline: 1px solid rebeccapurple;
}

.main-footer {
  /* temp for grid */
  min-height: 300px;
  outline: 1px solid yellow;
}

.main-footer-logo {
   /* temp for grid */
  outline: 1px solid yellowgreen;
}

.main-footer-top {
  /* temp for grid */
  min-height: 193px;
  outline: 1px solid orange;
}

.main-footer-bottom {
  /* temp for grid */
  min-height: 107px;
  outline: 1px solid white;
}

.main-footer-features-list {
  /* temp for grid */
  min-height: 68px;
  outline: 1px solid pink
}

.footer-categories {
  /* temp for grid */
  outline: 1px solid magenta;
}

.footer-categories p{
  /* temp for grid */
  min-height: 40px;
}

.main-footer-product-list {
  /* temp for grid */
  min-height: 40px;
  outline: 1px solid palevioletred;
}

.main-footer-bottom .copyright {
  /* temp for grid */
  min-height: 107px;
}

.main-footer-bottom .social-list {
  /* temp for grid */
  min-height: 107px;
}

.footer-contact-dev:nth-child(3) {
  /* temp for grid */   
  min-height: 107px;
  outline: 1px solid yellow;
}

.footer-contact-dev:last-of-type {
  /* temp for grid */
  min-height: 107px;
  outline: 1px solid yellow;
}