body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;

  background-color: white;
}

/* TODO: All navigations should have flex wrap   */

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

/* BUTTON */

.button {
  display: inline-block;
  padding: 10px 30px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
}

.button-primary {
  margin-right: 20px;

  color: #ffffff;

  background-color: #ee3643;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #ca2c37;
}

.button-primary:active {
  background-color: #ba2732;
}

.button-secondary {
  display: inline-block;

  font-size: 21px;
  line-height: 21px;
  vertical-align: middle;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

.button-secondary:hover,
.button-secondary:focus {
  color: #ee3643;
}

.button-secondary:active {
  color: rgba(0, 0, 0, 0.3);
}

/* -----------------------------------index.html */

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.main-navigation {
  order: 1;
  width: 940px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

/* TOP PANEL */

.top-panel {
  order: -2;
  width: 100%;
  height: 42px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.top-panel .container {
  display: flex;
  height: 42px;
}

.top-panel a {
  display: block;

  color: #ffffff;
}

/* TOP PANEL - BOOKMARKS */

.top-panel .bookmarks-link,
.top-panel .cart {
  position: relative;
}

.top-panel .bookmarks-link {
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 44px;
}

.top-panel .bookmarks-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-panel .bookmarks-link:hover,
.top-panel .bookmarks-link:focus {
  background-color: #212a3a;
}

.top-panel .bookmarks-link:hover::before,
.top-panel .bookmarks-link:focus::before {
  opacity: 1;
}

.top-panel .bookmarks-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.top-panel .bookmarks-link:active::before {
  opacity: 0.5;
}

/* TOP PANEL - CART */

.top-panel .cart {
  padding-top: 12px;
  padding-right: 31px;
  padding-bottom: 12px;
  padding-left: 49px;
}

.top-panel .cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-panel .cart-full {
  padding-right: 26px;

  background-color: #ee3643;
}

.top-panel .cart-empty:hover,
.top-panel .cart-empty:focus {
  background-color: #212a3a;
}

.top-panel .cart-empty:hover::before,
.top-panel .cart-empty:focus::before {
  opacity: 1;
}

.top-panel .cart-empty:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.top-panel .cart-empty:active::before {
  opacity: 0.5;
}




.top-panel .order-link {
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 20px;

  background-color: #63a63e;
}

.order-link:hover,
.order-link:focus {
  color: #ffffff;

  background-color: #5fbb2d;
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #5fbb2d;
}

.top-panel .search-term {
  position: relative;

  width: 270px;
  margin: 0;
}

.search-input {
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 49px;

  color: #ffffff;

  background-color: #293449;
  border: none;
  outline: none;
}

/* .search-term input {
  width: 100%;
  height: 100%;

  background-color: transparent;
  border: none;
} */

.search-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus {
  color: #000000;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}

/* .search-term input:focus {
  background-color: #ffffff;
} */

.search-input + .icon-search {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
}

.search-input + .icon-search path {
  opacity: 0.3;

  fill: #ffffff;
}

.search-input:focus + .icon-search path {
  opacity: 1;

  fill: #ff0000;
}

.search-input:hover + .icon-search path {
  opacity: 1;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 281px;
  margin-top: 45px;
  margin-left: 16px;

  list-style: none;
}

.user-navigation .login-link,
.user-navigation .signup-link {
  font-size: 21px;
  line-height: 21px;
}

.user-navigation .login-link {
  position: relative;

  display: inline-block;
  width: 121px;
  height: 45px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 48px;

  vertical-align: middle;
  text-align: center;

  background-color: #ffffff;
}

.user-navigation .login-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before {
  opacity: 1;
}

.login-link:active::before {
  opacity: 0.3;
}


.user-navigation .signup-link {
  display: inline-block;
  width: 150px;
  height: 45px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 25px;

  vertical-align: middle;
  text-align: center;

  background-color: #ffffff;
}

.logo {
  display: inline-block;

  vertical-align: middle;
  text-align: center;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo img {
  display: block;
  margin: 0 auto;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo-small {
  width: 220px;
  height: 47px;
  /* margin-right: auto; */
  padding-top: 13px;
}

.logo-normal {
  width: 220px;
  height: 68px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.intro {
  display: flex;
}

.intro-desc {
  width: 196px;
  height: 60px;
  margin: 0;
  margin-top: 49px;
  margin-right: 69px;
  margin-bottom: 50px;
  margin-left: 53px;
  padding: 0;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contact-details {
  margin-top: 44px;
}

.contact-details .phone {
  position: relative;

  display: block;
  margin-right: 51px;
  padding-top: 13px;
  padding-right: 49px;
  padding-bottom: 10px;
  padding-left: 74px;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;

  border: 3px solid #ffffff;
}

.contact-details .phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-details .address {
  margin-top: 2px;
  margin-left: 12px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.logged-in-panel {
  margin-top: 46px;
}

.button-logged-in {
  position: relative;

  display: flex;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 47px;

  background-color: #ffffff;

  text-transform: none;
}

.button-logged-in .user-name {
  display: block;
  margin-top: -2px;
  margin-right: 35px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.button-logged-in:hover .user-name,
.button-logged-in:focus .user-name {
  color: #000000;
}

.button-logged-in:active .user-name {
  color: #000000;
  opacity: 0.3;
}

.button-logged-in .user-name::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.button-logged-in:hover .user-name::before,
.button-logged-in:focus .user-name::before {
  opacity: 1;
}


.button-logged-in .logout {
  display: block;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.button-logged-in:hover .logout,
.button-logged-in:focus .logout {
  opacity: 1;
}

.button-logged-in:active .logout {
  opacity: 0.3;
}

.personal-list {
  display: flex;
  margin: 0;
  margin-top: 5px;
  margin-left: 4px;
  padding: 0;
}

.personal-list a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.personal-list a:hover,
.personal-list a:focus {
  color: #ee3643;
}

.personal-list a:active {
  color: rgba(50, 66, 92, 0.3);
}

.personal-list li:first-child {
  margin-right: 32px;
  margin-left: 14px;

  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 0;
  padding: 0 10px;

  list-style: none;
}

.site-navigation a {
  display: block;
  padding-top: 19px;
  padding-right: 29px;
  padding-bottom: 23px;
  padding-left: 32px;

  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #1d2739;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* ------------------------ footer  */

.main-footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-footer-top {
  padding-bottom: 50px;

  background-color: #32425c;
}



.main-footer-top p {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.main-footer-features-list {
  display: flex;
  width: 547px;
  margin: 0;
  padding: 0;

  list-style: none;
}


.main-footer-features-list a {
  display: block;
  margin-top: 37px;
  margin-right: 59px;

  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.features-list-item:last-child a {
  margin-right: 0;
}

.main-footer-features-list a:hover,
.main-footer-features-list a:focus {
  text-decoration: underline;
}

.main-footer-features-list a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.main-footer-product-list {
  display: flex;
  width: 524px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer-bottom .container {
  display: flex;
}

.main-footer-product-list a {
  display: block;
  margin-top: 8px;
  margin-right: 59px;

  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.main-footer-product-list a:hover,
.main-footer-product-list a:focus {
  text-decoration: underline;
}

.main-footer-product-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.main-footer-bottom {
  padding-top: 35px;
  padding-bottom: 31px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-footer-bottom .copyright {
  width: 228px;
  margin: 0;
  margin-right: 161px;
  margin-left: 2px;
  padding: 0;
}

.main-footer-bottom .social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
  margin-top: -2px;
  margin-right: 119px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.footer-categories {
  display: flex;
  justify-content: space-between;
}

.footer-categories p {
  width: 325px;
  margin: 0;
  margin-top: 9px;
  margin-left: 3px;
}

.footer-contact-dev b {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}


.footer-contact-dev a {
  color: #ffd180;
}

.footer-contact-dev a:hover,
.footer-contact-dev a:focus {
  text-decoration: underline;
}

.footer-contact-dev a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-contact-dev:nth-child(3) {
  width: 135px;
  margin: 0;
  margin-right: 53px;
  padding: 0;
}

.footer-contact-dev:last-of-type {
  width: 96px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
}

main .index-columns {
  display: flex;
  justify-content: space-between;
  padding: 54px 0 85px;
}

/* -------------------------------- catalog.html */

.main-catalog .container {
  display: flex;
  flex-direction: column;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  order: -1;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs li {
  position: relative;

  margin-right: 41px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -24px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs li.icon-home {
  content: "";

  display: block;
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.breadcrumbs a {
  color: #000000;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

/* user controls */

.user-controls {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.user-controls.column-title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 19px;
}

.user-controls.column-title.title-filter {
  margin-bottom: 11px;
}

.user-controls .title-sort {
  margin: 0;
  margin-right: 139px;
}

.catalog .user-controls {
  display: flex;
}

.user-controls .sort-options {
  display: flex;
  justify-content: space-between;
  width: 354px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-options .sort-option {
  padding: 0;

  font: inherit;
  color: rgba(0, 0, 0, 0.3);
  text-transform: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #ee3643;
  outline: none;
  cursor: pointer;
}

.sort-options .sort-option:hover,
.sort-options .sort-option:focus {
  color: #000000;

  border-bottom-style: solid;
}

.sort-options .sort-option:active,
.sort-options .sort-option.active {
  color: #ee3643;

  border-bottom: none;
}

/* SORT ARROWS */

.user-controls .sort-arrows {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 43px;
  margin: 0;
  margin-left: 46px;
  padding: 0;

  list-style: none;
}

.sort-arrows .sort-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  width: 11px;
  height: 10px;
}

.sort-arrows .sort-arrow::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 11px;
  height: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sort-arrows .arrow-inactive::before {
  opacity: 0.3;
}

.sort-arrows .arrow-inactive:hover::before,
.sort-arrows .arrow-inactive:focus::before {
  opacity: 1;
}

.sort-arrows .sort-arrow.arrow-inactive.arrow-desc::before {
  background-image: url("../img/icon-arrow-desc.svg");
}

.sort-arrows .sort-arrow.arrow-inactive.arrow-asc::before {
  background-image: url("../img/icon-arrow-asc.svg");
}

.sort-arrows .sort-arrow.arrow-asc.arrow-active::before {
  background-image: url("../img/icon-arrow-asc-active.svg");
}

.sort-arrows .sort-arrow.arrow-desc.arrow-active::before {
  background-image: url("../img/icon-arrow-desc-active.svg");
}


.product-filters {
  width: 220px;
}

.product-filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.product-filters fieldset::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  left: 0;
}

.product-filters fieldset:last-of-type::after {
  display: none;
}

.product-filters legend {
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.product-filters .price-range {
  margin-bottom: 44px;
}

.price-range::after {
  top: 196px;
}

.range-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 9px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  position: relative;
}

.price-controls::after {
  content: "—";
  position: absolute;
  top: 10px;
  left: 48%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.price-controls label {
  display: inline-block;
  width: calc(50% - 15px);
  vertical-align: top;
}

.price-controls label:first-child {
  margin-right: 30px;
}

.price-controls input {
  width: 100%;
  padding: 9px 10px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  background-color: transparent;
  text-align: center;
  margin-left: 10px;
}

.max-price {
  text-align: right;
}

.product-filters .brands {
  margin-bottom: 20px;
}

.product-filters .brands::after {
  top: 246px;
}

.filter-brands,
.filter-power {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-brands label,
.filter-power label {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-normal-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-normal-on.svg");
}

.filter-input-checkbox:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-hover-off.svg");
}

.filter-input-checkbox:hover:checked + label::before,
.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-hover-on.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;

  width: 25px;
  height: 25px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  border-color: #b5b5b5;
}

.filter-input-radio:disabled + label::before {
  border-color: #b5b5b5;
  opacity: 0.3;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -27px;

  width: 8px;
  height: 8px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after {
  background-color: #b5b5b5;
}

.filter-input-radio:checked:disabled + label:after {
  background-color: #b5b5b5;
  opacity: 0.3;
}

.power-type + .filter-button {
  margin-top: 59px;
  padding: 9px 39px 9px 39px;

  font: inherit;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;

  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item .title {
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 12px;
  display: flex;
}

.catalog-item h3 {
  min-height: 33px;
  margin: 0;
  margin-top: 8px;
  padding: 0 30px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item .image {
  order: -1;
  width: 218px;
  height: 170px;
  margin: 0;
  padding: 0;
}

.flag-new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;

  width: 60px;
  height: 60px;
  overflow: hidden;

  text-indent: -1000px;

  background: url("../img/product-new-flag.png") no-repeat 0 0;
}

.catalog-item .price {
  position: relative;
  /* width: 141px; */

  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 36px;
  align-self: center;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -27px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item .discount {
  min-width: 67px;
  min-height: 17px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: #999999;
  text-decoration: line-through;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  order: -1;
  width: 218px;
  height: 170px;
  padding-top: 44px;

  background-color: rgb(255, 255, 255);
}

.catalog-item:hover .actions {
  display: block;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 135px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 7px;
  padding-left: 3px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  cursor: pointer;
}

.actions .buy {
  position: relative;

  padding-top: 10px;
  padding-left: 3px;

  box-shadow: inset 0 -3px 0 0 #367315;
}

.actions .buy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.actions .buy:hover,
.actions .buy:focus {
  background-color: #5fbb2d;
}

.actions .buy:hover::before,
.actions .buy:focus::before {
  opacity: 1;
}

.actions .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.actions .bookmark {
  color: #32425c;

  background: white;
  border: 3px solid #63a63e;
}

.actions .bookmark:hover,
.actions .bookmark:focus {
  border-color: #32425c;
}

.actions .bookmark:active {
  color: rgb(50, 66, 92);

  opacity: 0.3;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.index-columns p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.features {
  width: 519px;
  margin: 0;
  padding: 0;
}

.features h2 {
  text-transform: uppercase;
  margin-bottom: 27px;
}

.features p {
  margin: 0;
}

.features p:first-of-type {
  margin-bottom: 24px;
}

.features p:nth-of-type(2) {
  width: 446px;
  margin-bottom: 20px;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list .feature-item {
  position: relative;

  margin-bottom: 20px;
  margin-left: 36px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.features-list .feature-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -36px;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.features-list .feature-item:last-of-type {
  margin-bottom: 38px;
}

.features .button-primary {
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 41px;
}

.contact-info {
  width: 300px;
  margin: 0;
  padding: 0;
}

.contact-info h2 {
  text-transform: uppercase;
  margin-bottom: 27px;
}

.contact-info p {
  width: 185px;
  margin-bottom: 31px;
}

.contact-info .button-primary {
  margin-top: 33px;
  margin-right: 0;
  padding-top: 10px;
  padding-right: 58px;
  padding-left: 64px;
}


/* modals */

.modal {
  position: fixed;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-dialog {
  width: 620px;
  border-top: 7px solid #ee3643;
}

.contact-item input {
  width: 220px;
}

.contact-item input {
  background-color: #ffffff;
  border: 2px solid #dee3e4;
}


.modal-contact {
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -310px;
  background-color: #ffffff;
  z-index: 30;
}

.modal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 38px;
  padding-right: 80px;
  padding-left: 80px;
}

.modal-contact .modal-container {
  padding-top: 44px;
  padding-left: 82px;
}


.modal-contact input,
.modal-contact textarea {
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  border: 2px solid #dee3e4;
  outline: none;
}

.modal-contact input:hover,
.modal-contact textarea:hover {
  border-color: #b5b5b5;
}

.modal-contact input:focus,
.modal-contact input:active,
.modal-contact textarea:focus,
.modal-contact textarea:active {
  border-color: #ee3643;
}

.modal-contact input::placeholder,
.modal-contact textarea::placeholder {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;
}

.modal-close {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 9px;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 3px;
  background-color: #ee3643;
  top: 9px;
  right: 0px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-dialog .modal-footer {
  background-color: #f4f4f4;
}

.contact-item {
  margin: 0;
  margin-bottom: 17px;
}

.contact-item label {
  display: block;
  margin-bottom: 6px;
}

.contact-item input {
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 11px;
}

.contact-item textarea {
  width: 460px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 12px;
}


.modal-footer {
  width: 100%;
  padding: 37px 80px;
}

.modal-contact .modal-footer {
  margin-top: 12px;
  padding-top: 39px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
}

.modal-contact .button {
  padding: 10px 198px;
}

.label-name {
  margin-right: 20px;
}

.modal-product-added {
  top: 120px;
  left: 50%;
  margin-left: -310px;
  background-color: #ffffff;
  z-index: 30;
  display: none;
}

.modal-product-added .modal-footer {
  display: flex;
  /* justify-content: center; */
  height: auto;
  padding: 37px 80px;
}


.modal-product-added h2 {
  margin-top: 64px;
  margin-right: 125px;
  margin-bottom: 67px;
  margin-left: 179px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.modal-product-added::after {
  content: "";
  position: absolute;
  top: 47px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url("../img/icon-modal-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-map {
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -470px;
  background-color: #ffffff;
  z-index: 30;
}

.modal-map p {
  margin: 0;
}

.modal-map img {
  display: block;
}


/* Common styles */



.modal-footer .button-primary {
  margin-right: 51px;
  padding-top: 12px;
  padding-right: 62px;
  padding-left: 59px;
}

.modal-footer .button-secondary {
  margin-left: -31px;
  padding-right: 47px;
  padding-left: 44px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.modal-contact .button-primary {
  padding-top: 10px;
  padding-right: 201px;
  padding-bottom: 9px;
  padding-left: 198px;
}

/* extra */

/* CARDS */

.cards {
  margin-bottom: 33px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 59px;
  padding: 0;

  list-style: none;
}

.card-list:first-child {
  flex-direction: row;
}

.card-list:last-child {
  flex-direction: column;
}

.card-list:last-child li {
  margin-right: 0;
}

.card-list .card-item {
  position: relative;

  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 23px;

  color: #ffffff;
}

.card-list .card-item:nth-child(3n) {
  margin-right: 0;
}

.card-item::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;

  width: 73px;
  height: 63px;

  background-image: url("../img/icon-card-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.card-item h2 {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.card-item p {
  margin: 0;
}

.card-item a {
  display: inline-block;
  width: 135px;
  margin-top: -8px;
  margin-left: 1px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.card-item .card-button:hover,
.card-item .card-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.card-item .card-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.card-list .slider {
  position: relative;

  width: 620px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 25px;

  color: #ffffff;
}

.slider.slider-hidden {
  display: none;
}

.card-list .slider:last-child {
  margin: 0;
}

.slider p {
  margin: 0;
}

.slider h2 {
  margin: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider .description {
  font-size: 18px;
  line-height: 24px;
}

.slider img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 620px;
  height: 100%;
}

.slider .button-primary {
  margin-top: 122px;
  padding-right: 46px;
  padding-left: 49px;
}

.slider .slider-button {
  content: "";
  position: absolute;

  width: 22px;
  height: 40px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.slider .slider-left {
  top: calc(50% - 20px);
  left: 25px;

  background-image: url("../img/icon-left.svg");
}

.slider .slider-right {
  top: calc(50% - 20px);
  right: 20px;

  background-image: url("../img/icon-right.svg");
}

.slider + .card-item {
  margin-right: 0;
}

.card-item.card-1 {
  background-color: #ffbf47;
}

.card-item.card-1::after {
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-card-1.svg");
}

.card-item.card-2 {
  background-color: #3bbce3;
}

.card-item.card-2::after {
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-card-2.svg");
}

.card-item.card-3 {
  background-color: #dc91d8;
}

.card-item.card-3::after {
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-card-3.svg");
}

.card-item.card-4 {
  background-color: #8ed78f;
}

.card-item.card-4::after {
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-card-4.svg");
}

.card-item.card-5 {
  background-color: #ffc047;
}

.card-item.card-5::after {
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-card-5.svg");
}

.cards .layout-columns {
  display: flex;
  flex-direction: row;
}

/* POPULAR PRODUCTS */

.popular-section .popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 24px;

  background-color: #f9f5f0;
}

.popular-section .popular-title {
  margin: 0;
  margin-left: 5px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-header a {
  margin-right: 0;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
}

.popular-section .catalog-items {
  width: 100%;
}

.popular-section .catalog-item {
  margin-right: 20px;
}

.popular-section .catalog-item:nth-child(4n) {
  margin-right: 0;
}

/* POPULAR BRANDS */

.popular-brands .button-primary {
  padding-right: 69px;
  padding-left: 70px;
}

.popular-section .popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-brands-list .popular-brand {
  display: flex;
  width: 220px;
  
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.popular-brands-list .popular-brand:nth-child(4n) {
  margin-right: 0;
}

.popular-brand .brand-logo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 144px;
}

.popular-brand a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.brand-logo:hover,
.brand-logo:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-logo:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand-logo img {
  display: block;
}

.brand-logo:active img {
  opacity: 0.3;
}

.brand-interskol img {
  margin-top: -14px;
}

.brand-makita img {
  margin-top: -3px;
}

.brand-dewalt img {
  margin-top: -4px;
}

.brand-hitachi img {
  margin-left: 6px;
}

.brand-lg img {
  margin-top: -5px;
}
.brand-aeg img {
  margin-top: -5px;
}

.brand-metabo img {
  margin-top: -10px;
  margin-left: 4px;
}

/* SERVICES */

.services {
  /* temp */
  /* min-height: 522px; */
  padding-bottom: 53px;
  background-color: #f4f7f9;
}

.services .container {
  margin-top: 65px;
  padding-top: 66px;
}

.services h2 {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-intro {
  width: 398px;
  margin-bottom: 23px;
}

.services .description {
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.services .switcher {
  position: relative;

  width: 240px;
  margin: 0;
  margin-right: 82px;
  padding: 0;
  /* padding-top: 44px; */
  padding-bottom: 46px;

  list-style: none;
}

.services .switcher::before {
  content: "";
  position: absolute;
  top: -44px;
  right: 0;

  width: 10px;
  height: 110%;

  background-image: url("../img/shadow.png");
  background-repeat: repeat-y;
  background-position: 0 0;
}

.switcher a {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.switcher-active a,
.switcher a:active {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.services-columns {
  display: flex;
  padding-top: 45px;
}

.services-column-right {
  /* margin-top: 46px; */
}

.services-promo {
  position: relative;

  display: none;
  width: 620px;
}

.services-promo.active {
  display: block;
}

.services-promo.promo-delivery::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 0;

  width: 468px;
  height: 261px;

  background-image: url("../img/services-delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-promo.promo-warranty::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -7px;

  width: 389px;
  height: 283px;

  background-image: url("../img/services-guarantee.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-promo.promo-credit::before {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;

  width: 465px;
  height: 285px;

  background-image: url("../img/services-credit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-promo h3 {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.promo-delivery p {
  width: 275px;
}

.promo-warranty p {
  width: 379px;
}

.promo-credit .button-primary {
  margin-top: 26px;
  padding-right: 44px;
  padding-left: 45px;
}

/* pagination */

.pagination-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  border: 1px solid #ee3643;
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  border: 1px solid #ee3643;
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-item-next a {
  text-transform: uppercase;
  padding-left: 32px;
  padding-right: 42px;
}

/* about-product */

.about-product {
  background-color: #f4f7f9;
  margin-top: 60px;
}

.about-product h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.about-product p {
  margin: 0;
  margin-top: 26px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.about-product .container {
  padding-top: 64px;
  padding-bottom: 69px;
}
