body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;

  background-color: white;
}

/* TODO: All navigations should have flex wrap   */

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 960px;
  margin: 0 auto;
}

.modal {
  display: none;
}

/* -----------------------------------index.html */

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.main-header .container {
  display: flex;
  order: -1;
}

.main-navigation {
  /* TODO: Wrap in a container and remove margin auto and width */
  width: 960px;
  margin: 0 auto;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.top-panel {
  order: -2;
  width: 100%;
  padding: 0 10px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.top-panel .container {
  display: flex;
  justify-content: flex-end;
  height: 42px;
}

.top-panel a {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #ffffff;
}

.top-panel .bookmarks-link,
.top-panel .cart-link {
  position: relative;
}

.top-panel .bookmarks-link {
  padding-right: 28px;
  padding-left: 44px;
}

.top-panel .bookmarks-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-panel .cart-link {
  padding-right: 26px;
  padding-left: 50px;
}

.top-panel .cart-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-panel .order-link {
  padding-right: 22px;
  padding-left: 20px;

  background-color: #63a63e;
}

.order-link:hover,
.order-link:focus {
  color: #ffffff;

  background-color: #5fbb2d;
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #5fbb2d;
}

.top-panel .search-term {
  position: relative;

  width: 270px;
  margin: 0;
  padding: 0;
  padding-left: 49px;
}

.top-panel .search-term:active {
  background-color: #ffffff;
}

.search-term input {
  width: 100%;
  height: 100%;

  background-color: transparent;
  border: none;
}

.search-term input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-term input:focus {
  background-color: #ffffff;
}

.search-term .icon-search {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
}

.search-term path {
  opacity: 0.3;

  fill: #ffffff;
}

.search-term:hover path,
.search-term:focus path {
  opacity: 1;
}

.icon-search + input:focus path {
  fill: #ff0000;
}

.top-panel .search-term:hover,
.top-panel .search-term:focus {
  background-color: #212a3a;
}

.search-term:hover::before {
  opacity: 1;
}

.top-panel .bookmarks-link:hover,
.top-panel .bookmarks-link:focus {
  background-color: #212a3a;
}

.top-panel .bookmarks-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.top-panel .cart-link-guest:hover,
.top-panel .cart-link-guest:focus {
  background-color: #212a3a;
}

.top-panel .cart-link-guest:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.top-panel .cart-link {
  background-color: #ee3643;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 281px;

  list-style: none;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.user-navigation .login-link,
.user-navigation .signup-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation .login-link {
  display: inline-block;
  width: 121px;
  height: 45px;
  padding-top: 14px;
  padding-bottom: 11px;

  text-align: center;

  background-color: #ffffff;
}

.user-navigation .signup-link {
  display: inline-block;
  width: 150px;
  height: 45px;
  padding-top: 14px;
  padding-bottom: 11px;

  text-align: center;

  background-color: #ffffff;
}

.main-header-logo {
  display: inline-block;
  width: 220px;
  height: 47px;

  vertical-align: middle;
  text-align: center;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.description {
  width: 196px;
  margin: 0;
  margin-top: 46px;
  margin-right: 71px;
  margin-bottom: 44px;
  margin-left: 53px;
  padding: 0;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contact-details {
  margin-top: 47px;
}

.contact-details .phone {
  position: relative;

  display: block;
  /* margin-bottom: 5px; */
  margin-right: 51px;
  padding-top: 13px;
  padding-right: 54px;
  padding-bottom: 11px;
  padding-left: 74px;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;

  border: 3px solid #ffffff;
}

.contact-details .phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-details .address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.logged-in-panel {
  margin-top: 46px;
}

.button-logged-in {
  position: relative;

  display: flex;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 47px;

  background-color: #ffffff;
}

.button-logged-in .user-name {
  display: block;
  margin-right: 39px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.button-logged-in .user-name::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.button-logged-in .logout {
  display: block;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.personal-list {
  display: flex;
  margin: 0;
  margin-top: 10px;
  margin-left: 17px;
  padding: 0;
}

.personal-list a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.personal-list li:first-child {
  margin-right: 32px;

  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 55px;
  padding-left: 52px;

  list-style: none;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a {
  display: block;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 26px;
  padding-left: 30px;

  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #1d2739;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* ------------------------ footer  */

.main-footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-footer-top {
  background-color: #32425c;
}

.main-footer-logo {
  display: block;
  width: 220px;
  height: 68px;
  padding-top: 20px;
  padding-bottom: 25px;

  text-align: center;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-footer-logo img {
  display: block;
  margin: 0 auto;
}

.main-footer-top p {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.main-footer-features-list {
  display: flex;
  width: 547px;
  margin: 0;
  padding: 0;

  list-style: none;
}


.main-footer-features-list a {
  display: block;
  margin-top: 35px;
  margin-right: 60px;

  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.features-list-item:last-child a {
  margin-right: 0;
}

.main-footer-features-list a:hover,
.main-footer-features-list a:focus {
  text-decoration: underline;
}

.main-footer-features-list a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.main-footer-product-list {
  display: flex;
  width: 524px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer-bottom .container {
  display: flex;
}

.main-footer-product-list a {
  display: block;
  margin-top: 11px;
  margin-right: 60px;

  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.main-footer-product-list a:hover,
.main-footer-product-list a:focus {
  text-decoration: underline;
}

.main-footer-product-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-footer-bottom .copyright {
  width: 228px;
  margin: 0;
  margin-right: 161px;
  padding: 0;
}

.main-footer-bottom .social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
  margin-right: 119px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-categories {
  display: flex;
  justify-content: space-between;
}

.footer-categories p {
  width: 322px;
}

.footer-contact-dev b {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}


.footer-contact-dev a {
  color: #ffd180;
}

.footer-contact-dev a:hover,
.footer-contact-dev a:focus {
  text-decoration: underline;
}

.footer-contact-dev a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-contact-dev:nth-child(3) {
  width: 135px;
  margin: 0;
  margin-right: 53px;
  padding: 0;
}

.footer-contact-dev:last-of-type {
  width: 96px;
  margin: 0;
  padding: 0;
}




/* -------------------------------- catalog.html */

.main-catalog {
  display: flex;
  flex-direction: column;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

main .index-columns {
  display: flex;
  justify-content: space-between;
  padding: 82px 0 86px;
}

.breadcrumbs {
  display: flex;
  order: -1;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 21px;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs li + li {
  padding-left: 20px;
}

.breadcrumbs li + li:before {
  content: "";

  width: 8px;
  height: 12px;
  padding-left: 20px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* TODO: Change to select using class */

.breadcrumbs li:first-child a {
  content: "";

  display: block;
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  color: #000000;
}

.page-title {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.product-filters {
  width: 220px;
}

.product-filters fieldset {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  border: none;
}

.product-filters legend {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-brands,
.filter-power {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-brands label,
.filter-power label {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -32px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-normal-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-normal-on.svg");
}

.filter-input-checkbox:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-hover-off.svg");
}

.filter-input-checkbox:hover:checked + label::before,
.filter-input-checkbox:checked:disabled + label::before {
  background-image: url("../img/checkbox-hover-on.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -32px;

  width: 25px;
  height: 25px;

  border: 3px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  border-color: #b5b5b5;
}

.filter-input-radio:disabled + label::before {
  border-color: #b5b5b5;
  opacity: 0.3;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -23px;

  width: 8px;
  height: 8px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after {
  background-color: #b5b5b5;
}

.filter-input-radio:checked:disabled + label:after {
  background-color: #b5b5b5;
  opacity: 0.3;
}

.filter-button {
  margin-top: 22px;
  padding: 9px 39px 9px 39px;

  font: inherit;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;

  border: 1px solid #e5e5e5;

  /* box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5); */
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
}

.catalog-item h3 {
  min-height: 33px;
  margin: 0;
  margin-top: 12px;
  padding: 0 30px;

  font-size: 18px;
  line-height: 20px;
}

.catalog-item .image {
  order: -1;
  width: 218px;
  height: 170px;
  margin: 0;
  padding: 0;
}

.catalog-item.flag-new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;

  width: 60px;
  height: 60px;
  overflow: hidden;

  text-indent: -1000px;

  background: url("../img/product-new-flag.png") no-repeat 0 0;
}

.catalog-item .price {
  position: relative;

  width: 141px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding: 10px 30px;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item .discount {
  min-width: 67px;
  min-height: 17px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  color: #999999;
  text-decoration: line-through;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  order: -1;
  width: 218px;
  height: 170px;
  padding-top: 44px;

  background-color: rgba(255, 255, 255, 0.9);
}

.catalog-item:hover .actions {
  display: block;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 135px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 7px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  cursor: pointer;
}

.actions .bookmark {
  color: #32425c;

  background: white;
  border-bottom-color: #63a63e;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.index-columns p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.features {
  width: 519px;
  margin: 0;
  padding: 0;
}

.features-list .feature-item {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contact-info {
  width: 300px;
  margin: 0;
  padding: 0;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}
