body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: white;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.modal {
  display: none;
}

a {
  text-decoration: none;
}

.main-catalog {
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #f4f7f9;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  order: -1;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;

  width: 940px;
  margin: 0 auto;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation, .user-navigation {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #32425c;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-panel {
  margin: 0;
  padding: 0;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-panel-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #293449;
  order: -2;

}

.main-header-panel a {
  color: #ffffff;
}

.search-term {
  margin: 0;
  padding: 0;
}

.main-header-panel .search-term:hover,
.main-header-panel .search-term:focus {
  background-color: #212a3a;
}

.bookmarks-link:hover, .bookmarks-link:focus {
  background-color: #212a3a;
}

.bookmarks-link:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.cart-link-guest:hover, .cart-link-guest:focus {
  background-color: #212a3a;
}

.cart-link-guest:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.cart-link-user {
  background-color: #ee3643;
}

.button-logged-in a {
  color: #000000;
}

.button-logged-in .user-name {
  font-size: 21px;
  line-height: 21px;
  display: inline-block;
  background-color: #ffffff;
  width: 299px;
  height: 45px;
  text-align: center;
  margin-bottom: 10px;
}

.logged-in-panel {
  width: 299px;
}

.button-phone {
  display: block;
  width: 270px;
  height: 45px;
  padding-top: 13px;
  padding-bottom: 11px;
  border: solid 3px #ffffff;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 10px;
}

main .index-columns {
  padding: 82px 0 86px;
  display: flex;
  justify-content: space-between;
}

.personal-list {
  margin: 0;
  padding: 0;
  width: 207px;
  display: flex;
  justify-content: space-between;
}

.personal-list a {
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #32425c;
}

.personal-list li:first-child {
  list-style: none;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 303px;
  list-style: none;
  order: -1;
  padding: 25px 0;
}

.breadcrumbs li {
  vertical-align: middle;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;

  background-color: #f2f6f8;
}

.product-filters {
  width: 220px;
}

.product-filters fieldset {
  border: none;
}

.product-filters legend {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-brands,
.filter-power {
  list-style: none;
}

.filter-brands label, .filter-power label {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  background-color: #ffffff;

  font: inherit;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.catalog {
  width: 700px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.catalog-item-price {
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 18px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;

}

.catalog-item-price .price-no-discount {
  color: #999999;
  text-decoration: line-through;
}

.catalog-item-price b {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-item-image .button-buy {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  background-color: #63a63e ;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-item-image .button-bookmark {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #ffffff;
  text-transform: uppercase;
}

.button-order {
  background-color: #63a63e;
}

.button-order:hover, .button-order:focus {
  background-color: #5fbb2d;
  color: #ffffff;

}
.button-order:active {
  background-color: #5fbb2d;
  color: rgba(255, 255, 255, 0.5);

}

.main-header-logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.main-header-logo:hover, .main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-description {
  margin: 0;
  padding: 0;
  width: 196px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.main-header-contact-details {
  margin: 0;
  padding: 0;
}

.main-header-contact-details a {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.main-header-contact-details .contact-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  list-style: none;
  width: 281px;
  display: flex;
  justify-content: space-between;
}

.user-navigation .login-link, .user-navigation .signup-link{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation .login-link {
  display: inline-block;
  width: 121px;
  height: 45px;
  padding-top: 14px;
  padding-bottom: 11px;
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}

.user-navigation .signup-link {
  display: inline-block;
  width: 150px;
  height: 45px;
  padding-top: 14px;
  padding-bottom: 11px;
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}

.index-columns h2{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.index-columns p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.features {
  margin: 0;
  padding: 0;
  width: 519px;
}


.features-list .feature-item {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contact-info {
  margin: 0;
  padding: 0;
  width: 300px;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button:hover, .button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-footer {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-footer-top {
  background-color: #32425c;
}

.main-footer-logo {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;

  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.main-footer-logo img {
  margin: 0 auto;
  display: block;
}

.main-footer-top p{
 font-size: 18px;
 line-height: 24px;
 color: #f3f7f9;
}

.main-footer-features-list {
  margin: 0;
  padding: 0;
  width: 547px;
  list-style: none;
}

.main-footer-features-list a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-features-list a:hover, .main-footer-features-list a:focus {
  text-decoration: underline;
}

.main-footer-features-list a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-site-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-categories {
  display: flex;
  justify-content: space-between;
}

.footer-categories p{
  width: 322px;
}

.main-footer-product-list {
  margin: 0;
  padding: 0;
  width: 524px;
  list-style: none;
}

.main-footer-bottom .container{
  display: flex;
}

.main-footer-product-list a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-product-list a:hover, .main-footer-product-list a:focus {
  text-decoration: underline;
}

.main-footer-product-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.main-footer-bottom {
  background-color: #293449;
}

.main-footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer-bottom .copyright {
  width: 228px;
  margin: 0;
  padding: 0;
  margin-right: 161px;
  box-sizing: border-box;
}

.main-footer-bottom .social-list {
  margin: 0;
  padding: 0;
  width: 132px;
  margin-right: 119px;
  list-style: none;
}

.social-list a{
 background-color: #212a3a;
}

.footer-contact-dev b{
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}


.footer-contact-dev a{
  color: #ffd180;
}

.footer-contact-dev a:hover, .footer-contact-dev a:focus {
  text-decoration: underline;
}

.footer-contact-dev a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-contact-dev:nth-child(3) {
  margin: 0;
  padding: 0;
  width: 135px;
  margin-right: 53px;
}

.footer-contact-dev:last-of-type {
  margin: 0;
  padding: 0;
  width: 96px;
}



